<?xml version="1.0" encoding="utf-8"?>
<robot>

<material name="orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0" />
</material>

<material name="silver_grey">
    <color rgba="${35/255} ${26/255} ${26/255} 0.83" />
</material>

<material name="green">
    <color rgba="${85/255} ${214/255} ${0/255} 0.83" />
</material>

<material name="red">
    <color rgba="${255/255} ${0/255} ${0/255} 1.0" />
</material>

</robot>
